.Dynamics {
  height: 450px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Dynamics::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Dynamics {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
